@{
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}
@section HeaderContent {
    @RenderSection("HeaderContent", false)
}
@section ScriptContent {
    @RenderSection("ScriptContent", false)
}
@section HeroUnit {
    @RenderSection("HeroUnit", false)
}
<div class="row">
    <div class="col-md-9">
        @RenderBody()
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Common.Tags
            </div>
            <div class="panel-body">
                @{Html.RenderAction(MVC.Blog.Tags());}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Common.PopularPosts
            </div>
            <div class="panel-body">
                @{Html.RenderAction(MVC.Blog.PopularBlogEntries());}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Advertisement
            </div>
            <div class="panel-body">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- techshoolin.com side banner -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:600px"
                     data-ad-client="ca-pub-4288492358616938"
                     data-ad-slot="4879931499"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>